# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
venv/
ENV/
env.bak/
venv.bak/

# Database
db.sqlite3
israinsols_db.sqlite3
*.sqlite3

# Logs
*.log
logs/

# Django
local_settings.py
db.sqlite3
db.sqlite3-journal

# VS Code / IDEs
.vscode/
.idea/

# Static / Media
static/
media/
